<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <import resource="loggers.xml"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        </property>
    </bean>

    <bean id="client" class="com.epam.spring.core.domain.Client">
        <constructor-arg value="${id}"/>
        <constructor-arg value="${fullName}"/>
        <property name="greeting" value="${greeting}"/>
    </bean>

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="eventLogger"/>
        <entry key="ERROR" value-ref="combinedEventLogger"/>
    </util:map>

    <bean id="app" class="com.epam.spring.core.App">
        <constructor-arg ref="cacheFileEventLogger"/>
        <constructor-arg ref="client"/>
        <constructor-arg ref="loggerMap">
            <!--map> If want to inject map right away
                <entry key="INFO" value-ref="eventLogger"/>
                <entry key="ERROR" value-ref="combinedEventLogger"/>
            </map-->
        </constructor-arg>
    </bean>

    <bean id="event" class="com.epam.spring.core.domain.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.time.LocalDate"
                factory-method="now"/>
        </constructor-arg>
        <constructor-arg ref="dateFormat"/>
    </bean>

    <bean id="dateFormat" class="java.text.DateFormat"
          factory-method="getDateTimeInstance"/>

</beans>